/* Add these styles to a new CSS file, e.g., projectStyles.css */

/* Add these styles to a new CSS file, e.g., container_style.css */

.project-container {
    display: inline-block; /* Set to inline-block to display containers side by side */
    width: 300px;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
  }
  
  .project-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  
  p {
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  .demo-button,
  .github-button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .demo-button {
    background-color: #4caf50;
    color: white;
  }
  
  .github-button {
    background-color: #333;
    color: white;
  }